*{
  font-family: 'Fira Sans', sans-serif;
}
body {
  background-image:url(images/bulldog.jpg) no-repeat;
  background-color:#F0ECEE;
}
#adopt-me {
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  font weight: 400;
}
#me {
  color:#FF4850;
}
#contact-us {
  color:#FFF;
  background-color:#FF4850;
  border-radius: 15px;
  padding: 10px;
  font-weight: 300;
}
#adopting {
  color:#FF4850;
}
#find-out-how {
  color:#FFF;
  background-color:#FF4850;
  border-radius: 15px;
  padding: 10px;
  font-weight; 300;
}
li {
  font-weight:400;
  color:#88898B;
  float:right;
  text-decoration:none;
}
ul {
  list-style-type:none;
}
#about-us:hover {
  color:#FF4850;
  background-color:#CCC;
}
#what-we-do:hover {
  color:#FF4850;
  background-color:#CCC;
}
#benefits:hover {
  color:#FF4850;
  background-color:#CCC;
}
#our-buddies:hover {
  color:#FF4850;
  background-color:#CCC;
}
#contact-us:hover {
  color:#FF4850;
  background-color:#CCC;
}
#find-out-how:hover {
  color:#FF4850;
  background-color:#CCC;
}
p {
  color:#88898B;
}
@media (min-width: 768px) {
    body {
        background-image: none;
        background-color: #F0ECEE;
        display: flex;
  }
    ul {
    flex: 50%;
  }
  #find-out-how {
    width: 100%;
  } 
}
